<!-- 프로젝트 카드 -->
<div class="projects">
<div class="project-card" data-category="Programing" data-url="{{ site.baseurl }}/projects/project1.html" onclick="openModal(this)">
  <img src="{{ site.baseurl }}/assets/images/project1.png" alt="Project 1 Image">
    <h2> Chip Yield Management </h2>
    <p> This MATLAB program manages and analyzes chip yield data. It provides a user-friendly interface for viewing, analyzing, and visualizing chip performance, helping engineers track manufacturing yields efficiently.</p>
  </div>

  <div class="project-card" data-category="Blogs" onclick="openModal('project2')">
  <h2>Tech Blog </h2>
  <p>A blog that shares the technology.</p>
  </div>

  <div class="project-card" data-category="Programing Bigdata" onclick="openModal('project3')">
    <h2>Project 3</h2>
    <p>A web development and AI project description.</p>
  </div>
</div>

<!-- 모달 창 -->
<div id="project-modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <div id="modal-details"></div>
  </div>
</div>
