<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body>
  <script src="{{ site.baseurl }}/assets/js/script.js"></script>
  <!-- 네비게이션 바 -->
  <nav>
    <ul class="menu">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
  </nav>
  <!-- 메인 콘텐츠 영역 -->
  <main>
    {{ content }}
  </main>

  <!-- 푸터 -->
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>
